.add-bar-style{
    display: inline-flex;
    margin: auto;
}

.input-zone{
    /* display: inline-block; */
    display: inline-flex;
    background-color: white;
    padding: 4px;
    border-radius: 9px 0px 0px 9px;
    margin: 16px 0px 16px;
    width: 880px;
    height: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   
}

.input-style {
    background-color: white;
    border: none;
    height: 100%;
    width: 99%;
    font-size: 26px;
    &:focus{
       outline: none; 
    }
}

.empty-input{
    border-radius: 9px 9px 9px 9px;
}
.add-button-disabled{
    background-color: #DFDFDE;
    border: none;
    margin: 16px 0px;
    border-radius: 0px 9px 9px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(223, 223, 222, 1) 0px 0px 0px 1px;
}
.add-button-style{
    background-color: #554994;
    border: none;
    margin: 16px 0px;
    border-radius: 0px 9px 9px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(85, 73, 148, 1) 0px 0px 0px 1px;
}
.icon-add-button{
    color: white;
    font-size: 28px  !important;
}



