$white-bg: white;
$light-text: #7F8487;

@mixin border-shadow {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.authentification-main{
    display:flex;
    justify-content: space-evenly;
    margin-top: 45px;
}

.connect-account{
    background-color: $white-bg;
    width: 450px;
    height: 750px;
    @include border-shadow();
    border-radius: 8px;
    
}
.form-auth{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    .connect-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100px;
        height: 32px;
        font-size: 28px;
        border: none;
        background-color: #94DAFF;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}

.form-block{
    position: relative;
    &__input{
      
       font-size:32px;
        border-radius: 8px;
        padding: 8px;
        padding-top: 15px;
        border: none;
       outline: none; 
        @include border-shadow();
        &:valid ~ .form-block__label,
        &:focus ~ .form-block__label {
            transform: translate(10px) translateY(-10px);
            font-size: 1.2em;
            padding: 0px 10px;
            background-color: $white-bg;
        }
    }
    &__label{
       position: absolute;
        display: flex;
        align-items: center;
        pointer-events: none;
        z-index: 1;
        padding: 2px 2px 2px 8px;
        top: 0;
        font-size: 30px;
        color: $light-text;
        transition: 0.5s;
    }

}

