.add-bar-style{
    display: inline-flex;
}

.input-zone{
    /* display: inline-block; */
    display: inline-flex;
    background-color: #A8AAB6;
    padding: 4px;
    border-radius: 9px 0px 0px 9px;
    margin: 16px 0px 16px;
    width: 610px;
    height: 50px;
    
}

.input-style {
    background-color: #A8AAB6;
    border: none;
    height: 100%;
    width: 99%;
    
}

.add-button-style{
   
    height: 100%;
}


